.gray-1 {
  color: #333333;
}
.delete-btn {
  background-color: #eb5757;
  color: white;
  font-weight: 500;
  border-radius: 30px;
  padding: 9px 40px;
  font-size: 15px;
}
.delete-btn:hover {
  background-color: #db3232;
}
.model-delete-btn {
  background-color: #eb5757;
  color: white;
  font-weight: 500;
  border-radius: 30px;
  width: 150px;
  height: 45px;
  font-size: 15px;
}
.model-delete-btn:hover {
  background-color: #db3232;
}
.model-back-btn {
  background-color: #3ddebd;
  color: white;
  font-weight: 500;
  border-radius: 30px;
  width: 150px;
  height: 45px;
  font-size: 15px;
}
.model-back-btn:hover {
  background-color: #34b198;
}
.model-center {
  top: 50% !important;
  transform: translateY(-50%) !important;
  max-width: 45%;
  border-radius: 20px;
}
.model-heading {
  line-height: 40px;
}
.modal-content {
  border-radius: 15px;
}


@media only screen and (max-width: 768px) {
  .delete-btn {
    width: 100%;
  }
  .model-center {
    max-width: unset;
  }
  .model-delete-btn {
    width: 130px;
  }
  .model-back-btn {
    width: 130px;
  }
  .model-heading {
    line-height: 27px;
  }
}
