<section>
  <div class="container">
    <div class=" row profile-wrapper">
      <div class="col-md-3 profile-img-wrapper">
        <div>
          <button class="btn  bridgelogo-responsive-btn">
            <img src="assets/web/Frame.svg" alt="" width="25px" height="25px">
          </button>
        </div>

        <div class="profile-img">
          <div class="spinner-border img-cover prof " role="status" *ngIf="loading">
            <span class="sr-only" id="loader"></span>
          </div>
          <!-- <img *ngIf="loading" src="/assets/web/loading.gif" alt="loading" class="img-cover prof" width="90px" -->
          <!-- height="90px" /> -->
          <img [hidden]="loading" (load)="onLoad()" [src]="profileimage" class="img-cover prof" />

          <!-- <img [src]="profileimage" alt="" class="img-cover prof"> -->

        </div>
        <div class="edit-btn-responsive">
          <img src="assets/web/editbtn.svg" alt="" width="25px" height="25px">
        </div>

      </div>
      <div class="col-md-9 d-flex  flex-column justify-content-sm-center pr-4 cursor-pointer profile-responsive">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">

            <!-- new cnhg -->

            <div class="d-flex flex-row">

              <div class="fw-500 fs-25 m-md-0  pr-0 pr-md-4 pt-2 jennifer-height-user">
                {{userdetails.firstname}} |</div>
              <div class="d-flex flex-column">
                <p class="fw-500 fs-25 m-0 pr-0 pr-md-4 pt-2 jennifer-height-user" id="titleBorderUser">
                  {{userdetails.accountType | titlecase}} </p>
                <!-- <hr style="width: 75px; height: 10px;  margin-top: -23px;  color: #1cf7cb;"> -->

              </div>

            </div>
            <div class="bridgebtndiv mb-3">
              <button class="btn  bridge-btn" (click)="addOrRemoveUserBridge()">{{userBridgedOrNot}}</button>
            </div>
            <div class="chatbtndiv mb-3">
              <button class="btn chat-btn ms-2" (click)="chatNow()"
                [ngClass]="this.userIsBridged ? 'ds_block' : 'ds_none'">Chat Now</button>
            </div>

            <!-- <p class="fw-500 fs-25 m-md-0  pr-0 pr-md-4 pt-2  jennifer-height ">{{userdetails.firstname}} |
              <span style="border-bottom: #01F9C6 solid 10px;">{{userdetails.accountType | titlecase }} </span>
            </p>
            <div class="bridgebtndiv">
              <button class="btn  bridge-btn" (click)="addOrRemoveUserBridge()">{{userBridgedOrNot}}</button>
            </div> -->
            <!-- [style.display]="this.userIsBridged.bridged ? 'block' : 'none'" -->
            <!-- <div class="chatbtndiv">
              <button class="btn chat-btn ms-2" (click)="chatNow()"
                [ngClass]="this.userIsBridged ? 'ds_block' : 'ds_none'">Chat Now</button>
            </div> -->
            <!-- new cnhg ends -->
          </div>
        </div>
        <!-- new chng for temp uncomment location and add schoolname only if required -->
        <!-- <p class="username fs-14">{{schoolName}}</p> -->
        <p class="gray fs-14 ">{{locatioN}}</p>
        <p class="text-start">{{userdetails.description}}</p>


      </div>
      <div class="responsive-btns">
        <div class="responsive-btn1">
          <button class="btn  bridge-responsive-btn" (click)="addOrRemoveUserBridge()">{{ userBridgedOrNot }}</button>
        </div>
        <div class="responsive-btn2">
          <button class="btn chat-responsive-btn ms-2" [ngClass]="this.userIsBridged ? 'ds_block' : 'ds_none'"
            (click)="chatNow()">Chat Now</button>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="interestes-wrapper">
          <div class="d-flex justify-content-between align-items-center">
            <p class="fs-22 fw-500 m-0">Interests</p>
          </div>
          <div *ngFor="let data of userInterests" class="int">
            <button type="button" class="btn interests-btn">{{data}}</button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="Experience-wrapper">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="fw-500 fs-25">Experience</p>
          </div>
          <div class="nameofproject-wrapper" *ngFor="let x of ExperienceList">
            <div class="d-flex align-items-center">
              <div class="project-img-wrapper">
                <img src="assets/web/projectimg.svg" alt="" width="35px" height="35px">
              </div>
              <div>
                <p class="m-0 fw-bold fs-16">{{x.title}}</p>
                <p class="fs-14 gray m-0">{{x.company}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="Experience-wrapper">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="fw-500 fs-25">Education</p>
          </div>

          <div class="nameofproject-wrapper" *ngFor="let x of EducationList">
            <div class="d-flex align-items-center">
              <div class="project-img-wrapper">
                <img src="assets/web/education.svg" alt="" width="35px" height="35px">
              </div>
              <div>
                <p class="m-0 fw-bold fs-16">{{x.business}}</p>
                <p class="fs-14 gray m-0">{{x.activities}}</p>
              </div>
            </div>

          </div>
        </div>
        <div class="interestes-wrapper hide-me" *ngFor="let data of userInterests">
          <button type="button" class="btn interests-btn">{{data}}</button>
        </div>
      </div>
    </div>
  </div>
</section>