<section class="login-wrapper">
    <div class="row h-100 no-gutters position-relative ">
        <img src="assets/web/Vector.svg" alt="" class="img-bottom">
        <div class="col-md-4 rectangle-img">
            <img src="assets/web/logo.svg" width="150px" routerLink="/login">
        </div>
        <div class="col-md-8 pt-5 pt-md-0 center-card">
            <div class="row pl-md-5 pl-0 pt-140">
                <h1 class="fs-2 pb-4 fw-700 heading heading-color m-0 ">Enter your school name below</h1>
                <div class="col-md-7  ">
                    <form [formGroup]="schoolForm" id="loginForm" class="form-size">
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label class="railway fw-600 text-secondary">School name</mat-label>
                                <input matInput type="text" class="customInputField" [matAutocomplete]="auto"
                                    placeholder="School name" name="search" autocomplete="off"
                                    (focus)="keypadService.onSearchFocus()" (blur)="keypadService.onSearchBlur()"
                                    formControlName="schoolName" (keyup)="searchSchool($event)">


                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let data of schoollist" (click)="add(data._id)"
                                        [value]="data.schoolname">{{data.schoolname}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="schoolName?.invalid && schoolName?.touched">
                                    <div class="d-flex align-items-center">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" class="pr-3">error
                                        </mat-icon>Whoops! it
                                        looks like Bridge isn't supported at your school!
                                    </div>
                                </mat-error>
                            </mat-form-field>
                            
                        </p>
                        <div class="d-flex justify-content-between pb-4 pt-3">
                            <button type="submit" class="btn loginbtn railway" (click)="goToSignup()"
                                [disabled]="!schoolForm.valid">Continue</button>
                            <button type="submit" [disabled]="!schoolForm.valid"
                                class="btn linkedinbtn railway" (click)="continueWithLinkedin()">Continue with LinkedIn</button>
                        </div>
                        <p class="signup railway"> Already have an account? <span class="sky cursor-pointer "
                                routerLink="/login">Log in</span> </p>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/Responsive/bottom.svg" alt="" class="responsive-bottom-img"
        [ngClass]="{'d-none':keypadService.isSearchFocused}">
</section>