.row {
  margin: 0px;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: white;
}

.login-wrapper {
  height: 100vh;
  width: 100%;
}
.rectangle-img {
  width: 100%;
  height: 100%;
  background-image: url("^assets/web/Rectangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 150px 0px 0px 40px;
  z-index: 10;
}
.linkedinbtn {
  width: 250px;
  height: 45px;
  border-radius: 25px;
  color: #0077b5;
  font-weight: 600;
  background-color: white;
  box-shadow: 0px 0px 20px gainsboro;
}
.vector-img {
  width: 100%;
  height: 100%;
}

.img-left {
  height: 100%;
  width: 100%;
}

.img-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  right: 0px;
}

.loginbtn {
  background-color: #3ddebd;
  width: 140px;
  height: 45px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
}
.linkedinbtn {
  width: 200px;
  height: 45px;
  border-radius: 25px;
  color: #0077b5;
  font-weight: 600;
  background-color: white;
  box-shadow: 0px 0px 20px gainsboro;
}
.signup {
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}
.responsive-bottom-img {
  width: 100%;
  display: none;
  position: absolute;
  /* position: relative; */
  bottom: 0;
}
.form-center {
  position: absolute;
  top: 0px;
  right: 0;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline{
  color:unset !important;
}
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick,
  ::ng-deep.mat-form-field-label {
  color:black !important;
}

@media only screen and (max-width: 768px) {
  .rectangle-img {
    display: none;
  }
  .img-bottom {
    display: none;
  }
  .login-wrapper {
    background-image: url("^assets/Responsive/Header.svg");
    background-repeat: no-repeat;
    top: 0px;
    height: 100%;
    background-size: 100%;
  }
  .responsive-bottom-img {
    display: block;
  }

  

  .linkedinbtn {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    color: #0077b5;
    font-weight: 600;
    background-color: white;
    box-shadow: 0px 0px 20px gainsboro;
  }
  .loginbtn {
    width: 100px;
    margin-bottom: 20px;
  }

  .content {
    /* position: absolute; */
    z-index: 10000;
  }
  
}
