<form [formGroup]="passwordForm" (ngSubmit)="passwordFormData()">
<p>
    <mat-form-field appearance="outline">
      <mat-label class="railway fw-600 gray">Old password</mat-label>
      <input matInput type="text" placeholder="Old password" autocomplete="off" formControlName="oldPassword">  
    </mat-form-field>
</p>  
<p>
    <mat-form-field appearance="outline">
      <mat-label class="railway fw-600 gray">New password</mat-label>
      <input matInput type="text" placeholder="New password" autocomplete="off" formControlName="newPassword">  
    </mat-form-field>
</p>  
<p>
    <mat-form-field appearance="outline">
      <mat-label class="railway fw-600 gray">Confirm new password</mat-label>
      <input matInput type="text" placeholder="Confirm new password" autocomplete="off" formControlName="confirmPassword">  
    </mat-form-field>
</p>  

<button class="btn save-btn fw-600 railway">Save</button>
</form>